# ============================================================
# Deployer Private Keys
# ============================================================
PRIVATE_KEY=
TESTNET_PRIVATE_KEY=
TRON_PRIVATE_KEY=

# ============================================================
# Deployment Environment
# ============================================================
# REQUIRED: "test", "prod", or "main"
NETWORK_ENV=

# ============================================================
# Tron RPC
# ============================================================
TRON_RPC_URL=https://api.trongrid.io/jsonrpc
TRON_TEST_RPC_URL=https://nile.trongrid.io/jsonrpc

# ============================================================
# Contract Verification
# ============================================================
ETHERSCAN_API_KEY=
